@{
    ViewData["Title"] = "Movies Page";
}

    <div class="account-page">
        <img class="home-icon" src="~/img/blueLOGO.png" />
        <h1 class="header-title display-4">
            Mon espace compte
        </h1>
        <div class="account-wrapper">
            <div class="user-info">
                <h2 class="user-name">User : John Doe</h2>
                <h2 class="user-mail">Mail : John@Doe.com</h2>
            </div>
            <div class="user-favorites">
                <h1 class="header-title display-4">
                    Mes films préférés
                </h1>
                <div class="slider-container">
                    <div class="account-slider">
                        <div class="movies-affiche">
                            <img class="affiche-img" src="https://i.f1g.fr/media/eidos/300x444/2019/04/20/XVM05e6b2d6-604e-11e9-9daa-1e85594be702-300x444.jpg" />
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                        <div class="movies-affiche">
                            <img class="affiche-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQlhwuL85FXG-exTwjAKFn_ZjbEtF9x36sJmTZn5iSzYP9iHjn" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                        <div class="movies-affiche">
                            <img class="affiche-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFeW3oKAxBnTR3-kS1_ZISK10v5RuMwrEQTWtJq3dQ9uulHict5Q" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                        <div class="movies-affiche">
                            <img class="affiche-img" src="https://studybreaks.com/wp-content/uploads/2018/09/733127-avatar-last-airbender.jpg" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="wrapper-content">
                        <div class="movies-affiche">
                            <img class="affiche-img" src"" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                        <div class="movies-affiche">
                            <img class="affiche-img" src"" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                        <div class="movies-affiche">
                            <img class="affiche-img" src"" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                        <div class="movies-affiche">
                            <img class="affiche-img" src"" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                        <div class="movies-affiche">
                            <img class="affiche-img" src"" />
                            <h3 class="affiche-title">movietitle</h3>
                            <h4 class="affiche-format">movieQuality</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-favorites">
                <h1 class="header-title display-4">
                    Mes notes
                </h1>
            </div>
        </div>
