@{
    ViewData["title"] = ViewContext.RouteData.Values["id"];
}


<div class="movies-page">
    <img class="home-icon" src="~/img/blueLOGO.png" />
    <h1 class="colored header-title display-4">@ViewData["title"]</h1>
    <div class="movies-container">
        <div class="wrapper">
            <div class="wrapper-content">
                @foreach (var movieByType in Model.moviesByType)
                    {
                        <div class="movies-affiche">
                            <img class="affiche-img" src="@movieByType.Image" />
                            <h3 class="affiche-title">@movieByType.Name</h3>
                            <h4 class="affiche-format">@movieByType.format</h4>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>
