@Model Users
<div class="register-page">
    <h1 class="colored header-title display-4">@ViewData["title"]</h1>
    <div class="connexion-wrapper">
        <div class="connexion">
            <h1>Inscrivez-vous</h1>



            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
            {
                <div class="input-wrapper">
                    <input class="register-log-input" type="text" name="Email" placeholder="Email" />
                </div>
                <div class="input-wrapper">
                    <input class="register-log-input" type="text" name="Pseudo" placeholder="Identifiant" />
                </div>
                <div class="input-wrapper">
                    <input class="register-log-input" type="text" name="Password" placeholder="Mot de passe" />
                </div>

                <div class="submit-wrapper">
                    <a href="/Home/SignIn" >Se connecter</a>
                    <input class="submit-button" type="submit" value="Register" />
                </div>
                }

        </div>
    </div>
</div>
