
<div class="sign-in-page">
    <h1 class="colored header-title display-4">@ViewData["title"]</h1>
    <div class="connexion-wrapper">
        <div class="connexion">
            <h1>Connectez-vous</h1>

            @using (Html.BeginForm("Signin", "Home", FormMethod.Post))
            {
                <div class="input-wrapper">
                    <input class="register-log-input" type="text" name="Email" placeholder="Email"/>
                </div>
                <div class="input-wrapper">
                    <input class="register-log-input" type="text" name="Password" placeholder="Mot de passe" />
                </div>
                <div class="submit-wrapper">
                    <a href="/Home/Register" >S'inscrire</a>
                    <input class="submit-button" type="submit" value="Signin" />
                </div>
                }
        </div>
    </div>
</div>
