
<div class="sign-in-page">
    <h1 class="colored header-title display-4">@ViewData["title"]</h1>
    <div class="connexion-wrapper">
        <div class="connexion">
            <h1>Connectez-vous</h1>
            <div class="input-wrapper">
                <input class="register-log-input" type="text" placeholder="Identifiant"/>
            </div>
            <div class="input-wrapper">
                <input class="register-log-input" type="text" placeholder="Mot de passe" />
            </div>
            <div class="submit-wrapper">
                <a href="/Home/Register" class="submit-button">S'inscrire</a>
                <a href="/Home/SignIn" class="submit-button">Se connecter</a>
            </div>
        </div>
    </div>
</div>
